.callout{
    box-shadow: $callout-box-shadow;
    background-color: $callout-background-color;
    padding: 15px;
    margin-bottom: 20px;
    h3{
        font-size: $callout-header-size;
        font-family: $callout-header-font;
        &::after{
            content: "";
            display: block;
            border-bottom: $callout-header-border;
            margin-right: auto;
            width: 70%;
            padding-top: 10px;
        }
    }
}